body {
    background-color: black;
    text-align: center;
    color: white;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid pink;
}

#Vanessa {
    text-align: center;
}

.Font {
    font-family: 'Libre Baskerville', serif;
}
